:root{
    --blue: #143F6B;
    --red: #F55353;
    --orange: #FEB139;
    --yellow: #F6F54D;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: azure;
}

body{
    font-size: 20px;
    background-color: #330000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    margin: auto;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    text-align: center;
    
}

.info-box{
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(51, 0, 0, .5);
    border-radius: 20px;
    transition: all 0.75s ease-out;
    text-transform: uppercase;
    padding: 20px;
}

#caja2 img{
    
}

#caja1:hover{
    background-color: var(--blue);
    box-shadow: 0 0 20px 1px azure;
    color: var(--yellow);
    transition: all 0.75s ease-in;
}

#caja2:hover{
    background-color: var(--red);
    color: var(--blue);
    box-shadow: 0 0 20px 1px azure;
    transition: all 0.75s ease-in;
}

#caja3:hover{
    color: var(--blue);
    background-color: var(--orange);
    box-shadow: 0 0 20px 1px azure;
    transition: all 0.75s ease-in;
}