:root{
    /* color gral */
    --white: #fff;

    /* colors light mode */
    --navy: rgb(53, 87, 100);
    --green: rgb(90, 143, 123);
    --blue: rgb(129, 202, 207);
    --yellow: rgb(255, 234, 17);

    /* colors dark mode */


}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 62.5%;
}
/* 
==========================================
HEADER SECTION
==========================================
*/

/* 
MENU HAMBURGUESA
*/
.menu-open-close{
    position: fixed;
    width: 25px;
    height: 25px;
    top: 25px;
    left: 15px;
    cursor: pointer;
    z-index: 10;
}

.menu-open-close .line{
    width: 100%;
    height: 5px;
    background: white;
    margin-top: 5px;
    border-radius: 3px;
    transition: .5s all ease-in-out;
}

.line1__activated{
    transform: rotate(45deg);
    transition: .5s all ease-in-out;
}
.line2__activated{
    position: relative;
    top: -10px;
    transform: rotate(-45deg);
    transition: .5s all ease-in-out;
}
.line3__activated{
    position: relative;
    border-radius: 50%;
    width: 8px !important;
    height: 8px !important;
    top: -21px;
    left: 9px;
    background-color: var(--navy) !important;
    transition: .5s all ease-in-out;
}

/* 
ESTILOS HEADER
*/

.header-container{
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: var(--navy);
    padding: 15px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: .5s all ease-in-out;
    box-shadow: 1px 5px 20px 1px var(--white);
}

.close{
    transform: translateX(-250px);
    box-shadow: 0px 0px 0px 0px gray;
    transition: .5s all ease-in-out;
}

.header-logo{
    width: 100%;
    color: var(--white);
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

.header-container picture img{
    width: 90%;
    border-radius: 50%;
    background: radial-gradient(circle, var(--blue) 0%, var(--navy) 100%);
}

.header-nav ul{
    list-style: none;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
}

.header-nav ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 40px;
}

.header-nav ul li{
    transition: 0.5s all ease-in-out;
}
.header-nav ul li:hover{
    border-radius: 10px;
    background-color: var(--green);
    transition: 0.7s all ease-in-out;
}

.header-social{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.social-media{
    background: #fff;
    height: 30px;
    width: 30px;
}
.header-social :nth-child(1){
    -webkit-mask: url(../assets/icons/linkedin1.svg);
}
.header-social :nth-child(2){
    -webkit-mask: url(../assets/icons/github1.svg);
}
.header-social :nth-child(3){
    -webkit-mask: url(../assets/icons/mail1.svg);
}
.header-social :nth-child(4){
    -webkit-mask: url(../assets/icons/whatsapp1.svg);

}

/* 
==========================================
MAIN SECTION
==========================================
*/

.main-section{
    width: 100%;
    height: 100%;
}

.introduce{
    width: 100%;
    height: 100vh;
    padding: 100px 30px;
    background: linear-gradient(180deg, var(--blue) 0%, var(--green) 100%);
    text-align: right;
}

.introduce h2{
    font-size: 4rem;
    font-weight: 700;
}

.introduce h1{
    font-size: 3rem;
}

.skill-section{
    width: 100%;
    height: 100vh;
    padding: 100px 30px;
    background: linear-gradient(180deg, var(--green) 0%, var(--navy) 100%);
    text-align: right;
}