:root{
    /* color gral */
    --white: #fff;

    /* colors light mode */
    --navy: #355764;
    --green: #5a8f7b;
    --blue: #81cacf;
    --yellow: #ffea11;

    /* colors dark mode */


}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 62.5%;
}
/* 
==========================================
HEADER SECTION
==========================================
*/

/* 
MENU HAMBURGUESA
*/
.menu-open-close{
    position: fixed;
    width: 25px;
    height: 25px;
    top: 25px;
    left: 15px;
    cursor: pointer;
    z-index: 101;
}

.menu-open-close .line{
    width: 100%;
    height: 5px;
    background: white;
    margin-top: 5px;
    border-radius: 3px;
    transition: .5s all ease-in-out;
}

.line1__activated{
    position: relative;
    transform: rotate(45deg);
    transition: .5s all ease-in-out;
}
.line2__activated{
    position: relative;
    
    transform: rotate(-45deg);
    transition: .5s all ease-in-out;
}
.line3__activated{
    position: relative;
    border-radius: 50%;
    width: 8px !important;
    height: 8px !important;
    left: 9px;
    background-color: var(--navy) !important;
    transition: .5s all ease-in-out;
}

/* 
ESTILOS HEADER
*/

.header-container{
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: #355764;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='122' height='122' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23284b57' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
    padding: 15px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: .5s all ease-in-out;
    box-shadow: 1px 5px 20px 1px var(--white);
    z-index: 100;
}

.close{
    transform: translateX(-250px);
    box-shadow: 0px 0px 0px 0px gray;
    transition: .5s all ease-in-out;
}

.header-logo{
    width: 100%;
    color: var(--white);
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

.header-logo picture img{
    width: 90%;
    border-radius: 50%;
    background: radial-gradient(circle, var(--blue) 0%, var(--navy) 100%);
}

.header-nav ul{
    list-style: none;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
}

.header-nav ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 40px;
}

.header-nav ul li{
    transition: 0.5s all ease-in-out;
}
.header-nav ul li:hover{
    border-radius: 10px;
    background-color: var(--green);
    transition: 0.7s all ease-in-out;
}

.header-social{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.social-media{
    background: #fff;
    height: 30px;
    width: 30px;
}
.header-social :nth-child(1){
    -webkit-mask: url(../assets/icons/linkedin1.svg);
}
.header-social :nth-child(2){
    -webkit-mask: url(../assets/icons/github1.svg);
}
.header-social :nth-child(3){
    -webkit-mask: url(../assets/icons/mail1.svg);
}
.header-social :nth-child(4){
    -webkit-mask: url(../assets/icons/whatsapp1.svg);

}

/* 
==========================================
MAIN SECTION
==========================================
*/

.main-section{
    width: 100%;
    height: 100%;
    background-color: #FFEA11;
    background-color: #5A8F7B;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%235A8F7B'/%3E%3Cstop offset='1' stop-color='%2381CACF'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%235b9783'/%3E%3Cstop offset='1' stop-color='%2378d2c6'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%235ca08c'/%3E%3Cstop offset='1' stop-color='%236fd5b4'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%235fa694'/%3E%3Cstop offset='1' stop-color='%2366d99d'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%2362ac9c'/%3E%3Cstop offset='1' stop-color='%235cdc80'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%2366b2a4'/%3E%3Cstop offset='1' stop-color='%2352e05f'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%236ab7ad'/%3E%3Cstop offset='1' stop-color='%2359e548'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%236ebcb5'/%3E%3Cstop offset='1' stop-color='%2372e93e'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%2373c1bd'/%3E%3Cstop offset='1' stop-color='%2391ee33'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%2377c6c5'/%3E%3Cstop offset='1' stop-color='%23b6f428'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%237cc9cb'/%3E%3Cstop offset='1' stop-color='%23e1f91d'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%2381CACF'/%3E%3Cstop offset='1' stop-color='%23FFEA11'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;;
}

.introduce{
    width: 100%;
    height: 100vh;
    padding: 100px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.introduce img{
    width: 300px;
    margin: auto;
}

.introduce-myself{
    text-align: center;
    line-height: 50px;
}

.introduce h2{
    font-size: 4rem;
    font-weight: 700;
}

.introduce h1{
    font-size: 3rem;
}

.skill-section{
    width: 100%;
    height: 100vh;
    padding: 100px 30px;
    background: linear-gradient(180deg, var(--green) 0%, var(--navy) 100%);
    text-align: right;
}
.avatar-dialoge{
    position: relative;
}

.dialoge{
    width: 250px;
    padding: 10px;
    height: fit-content;
    position: absolute;
    background: #101c20;
    color: var(--white);
    border-radius: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    z-index: 0;
    transform: translateY(-250px);
    transition: .75s all ease-in-out;
    font-size: 3rem;
    font-weight: 500px;
    line-height: 30px;
    top: -70px;
    right: -70px;
}

.dialoge-apper{   
    transform: translateY(0px);
    transition: .75s all ease-in-out;
}