:root{
    --night:#2C2E43;
    --black:#595260;
    --gray:#B2B1B9;
    --yellow:#FFD523;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 62.5%;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

body{
    width: 100%;
    height: fit-content;
}

/*
    ===========================================
    HEADER / navHeader
    ===========================================
*/


.navHeader{
    width: 100%;
    height: fit-content;
    background: var(--night);
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.linkLogo{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
}

.link{
    color:var(--yellow);
    display: flex;
    align-items: center;
}

.logo{
    width: 35px;
    margin-right: 15px;
}

/*
    ===========================================
    HEADER / navBar | mobile
    ===========================================
*/

    .btnActivator{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--black);
        position: relative;
        top: 10px;
        cursor: pointer;
    }

    .listItems{
        display: flex;
        justify-content: flex-end;
    }

    .listLink{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 4px solid var(--black);
        background: var(--gray);
        color: var(--night);
        font-size: 0;
        text-align: center;
        background: var(--gray);
        display: grid;
        place-content: center;
    }

    .top, .mid, .bott{
        visibility: collapse;
        position: absolute;
    }

    #btnCheck:checked ~ .top{
        visibility: visible;
        font-size: 1.6rem;
        width: 80px;
        border-radius: 20px;
        transform: translateY(70px);
        transition: 0.5s all ease-in-out;

    }

    #btnCheck:checked ~ .mid{
        visibility: visible;
        font-size: 1.6rem;
        width: 100px;
        border-radius: 20px;
        transform: translateY(120px);
        transition: 0.75s all ease-in-out;

    }

    #btnCheck:checked ~ .bott{
        visibility: visible;
        font-size: 1.6rem;
        width: 120px;
        border-radius: 20px;
        transform: translateY(170px);
        transition: 1s all ease-in-out;

    }

    #btnCheck:not(:checked) ~ .top{
        visibility: collapse;
        font-size: 0;
        width: 40px;
        transition: .5s all ease-in-out;

    }

    #btnCheck:not(:checked) ~ .mid{
        visibility: collapse;
        font-size: 0;
        width: 40px;
        transition: 0.75s all ease-in-out;

    }

    #btnCheck:not(:checked) ~ .bott{
        visibility: collapse;
        font-size: 0;
        width: 40px;
        transition: 1s all ease-in-out;

    }


/*
    ===========================================
    HEADER / info
    ===========================================
*/

.infoHeader{
    width: 100%;
    text-align: center;
    background-color: var(--night);
    padding: 10px 0 20px 0;
    
}

.imgPerfil{
    width: 155px;
    border-radius: 50%;
    border: 5px solid var(--black);
    background-color: var(--gray);
}

.info{
    margin-top: 10px;
    color: var(--yellow);
    font-size: 1rem;
}

.info p{
    margin-top: 10px;
    font-size: 1.4rem;
}

.imgPerfil:hover{
    width: 155px;
    border-radius: 50%;
    border: 5px solid var(--yellow);

    transition: 0.75s ease;
}

/*
    ===========================================
    MAIN / 
    ===========================================
*/

.main{
    width: 100%;
    height: 100%;
    padding: 20px;
    background: var(--black);
    text-align: center;
}
.title{
    padding-top: 20px;
    color: var(--yellow);
}
.tarjetas{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tarjeta{
    width: 100px;
    margin: 15px;
    background-color: var(--gray);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.tarjeta__img{
    max-width: 100px;
    max-height: 100px;
    display: grid;
    place-content: center;
    padding: 10px;
}

.tarjeta__info{
    min-width: 10px;
    padding: 10px;
    font-size: 0.8rem;
    color: var(--black);
}

.javaS{
    border-radius: 25px;
}

.tarjeta:hover .tarjeta__info{
    color: var(--night);
}

.tarjeta:hover{
    background-color: whitesmoke;
    width: 100px;
    box-shadow: 0px 0px 15px 2px var(--gray);
}

/*
    ===========================================
    FOOTER / 
    ===========================================
*/
.footer{
    width: 100%;
    height: 150PX;
    padding: 10px 20px;
    background: var(--night);
    display: flex;
    align-items: center;
    justify-content: space-around
}
.footerWrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.imgFooter{
    max-width: 70px;
    padding: 10px;
}

.perfilFooter{
    max-width: 80px;
    border-radius: 50%;
    border: 5px solid var(--yellow);
}