.main > h1{
    color:var(--yellow);
    margin-bottom: 10px;
}

.mainProject{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cardsProject{
    max-width: 700px;
    height: fit-content;
    margin: auto;
    padding: 20px;
    background-color: var(--gray);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.cardsProject > h1{
    color: var(--yellow);
}
.titleCard{
    width: fit-content;
    padding: 8px 9px;
    margin-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: var(--gray);
    
}

.containerCard {
    max-width: 700px;
    text-align: center;
    -webkit-perspective: 800px;
    perspective: 800px;
  }
  
  .card {
    width: 250px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius:20px;
    text-align: center;
    color: var(--yellow);
    font-size: 1.6rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .front {
    width: 100%;
    height: 100%;
    line-height: 70px;
    background-color: var(--night);
  }
  
  .imgCard > img{
    width: 100%;
    border-radius: 30px;
    box-shadow: 1px 1px 5px 5px var(--gray);
  }

  .back {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: var(--black);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  
  .card:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }


  .btnCard{
    width: 100px;
    height: 80px;
    padding: 8px 10px;
    margin-top: 20px;
    background-color: var(--night);
    color: var(--gray);
    border-radius: 10px;
  }

  .btnCard:hover{
    background-color: var(--yellow);
    color: var(--night);
    box-shadow: 1px 1px 10px 10px var(--night);
  }